[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint                  = "*"
pycodestyle             = "*"
pytest                  = "*"
mock                    = "*"
pytest-mock             = "*"
notify2                 = "*"
dbus-python             = "*"
mypy = "*"

[packages]
psycopg2-binary         = "*"
pyyaml                  = "*"
cerberus                = "*"
invoke                  = "*"

[requires]
python_version = "3.7"
